<footer class="text-muted" style="margin-top: 6%">
	<div class="container">
	  <p class="pull-xs-right">
	    <a href="#">Back to top</a>
	  </p>
	  <p>Made for educational proposes</p>
	  <p>Coded by voron434
	  <a href="https://github.com/voron434"><i class="fa fa-github" aria-hidden="true"></i></a>
	  <a href="https://www.facebook.com/profile.php?id=100004103253913"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
	  <a href="https://vk.com/twiin_armageddons"> <i class="fa fa-vk" aria-hidden="true"></i></a>
	  </p>
	</div>
</footer>