<nav class="navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
	<a class="navbar-brand" href="/">Logo</a>
	{% if user.is_authenticated %}
		{% if user.is_superuser %}
			<a class="link" style="float: left;" href="{% url 'post_new' %}"><i class="fa fa-plus" aria-hidden="true"></i> New post</a>
			<a class="link" style="float: left;" href="{% url 'post_draft_list' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Drafts</a>
    	{% endif %}
    <p class="top-menu">Hello {{ user.username }} (<a href="{% url 'logout' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Log out</a>)</p>
	{% else %}
    	<a href="{% url 'login' %}" class="top-menu"><i class="fa fa-lock" aria-hidden="true"></i> Log In</a>
      <a href="{% url 'signup' %}" class="top-menu"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
	{% endif %}
</nav>